@media screen and (min-width: 375px) {
  /** header-section-start */

  .header-container {
    width: 375px;
  }

  /** header-section-end */
  /** hero-section-start */

  .hero-container {
    width: 375px;
  }

  /** hero-section-end */
  /** menu-start */

  .menu-container {
    width: 375px;
  }

  /** menu-end */
}
