/** global-reset-start */

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  padding: 0;
}

/* p:last-child {
  margin-bottom: 0;
} */

ul,
ol {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  color: currentColor;
  text-decoration: none;
}

/** global-reset-end */
/** global-style-start */

:root {
  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;

  color: #242424;
  background-color: rgba(255, 255, 255, 0.87);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

/** global-style-end */
/** header-srction-start */

@media screen and (min-width: 375px) {
  .header-container {
    width: 375px;
    margin: 0 auto;
    padding: 20px 20px 48px 20px;

    display: flex;
    justify-content: space-between;
    align-items: center;

    background-color: #576f35;
  }

  .header-nav-list {
    display: none;
  }

  .header-logo {
    width: 168px;
    height: 16px;

    fill: #ffffff;
    stroke: #ffffff;
  }

  .header-menu-btn {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 32px;
    height: 32px;

    cursor: pointer;
    background-color: transparent;
    border: none;
  }

  .header-menu {
    display: block;

    width: 32px;
    height: 32px;

    fill: #ffffff;
    stroke: #ffffff;
  }

  .header-buy-btn {
    display: none;
  }
}

/** header-section-end */
/** hero-section-start */

@media screen and (min-width: 375px) {
  .hero-section {
    width: 375px;
    margin: 0 auto;

    background-color: #576f35;
    background-image: url(../img/hero-bg-mob.jpg);
    background-repeat: no-repeat;
    background-position: bottom;
    background-size: auto;
  }

  .hero-container {
    height: 712px;
    padding: 0 20px;
  }
}

.hero-title {
  margin-bottom: 20px;

  font-family: "Inter Tight", sans-serif;
  font-weight: 600;
  font-size: 48px;
  font-style: normal;
  line-height: 1;
  letter-spacing: -0.01em;
  text-transform: uppercase;

  color: #fbfbfb;
}

.hero-txt {
  font-family: "Inter Tight", sans-serif;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.29;
  font-style: normal;
  color: #fbfbfb;
}

/** hero-section-end */
/** menu-start */

@media screen and (min-width: 375px) {
  .menu-backdrop {
    display: none;

    position: fixed;
    top: 0;
    left: 0;

    width: 100%;
    height: 100%;

    cursor: pointer;
    background: #7a3145;
  }

  .menu-section {
    padding-top: 240px;
    padding-bottom: 40px;
    position: relative;
  }

  .menu-container {
    width: 375px;
    height: 100%;
    padding-left: 20px;
    padding-right: 20px;

    display: flex;
    flex-direction: column;
    justify-content: space-between;

    position: absolute;
    left: 50%;

    transform: translate(-50%) scale(1);

    cursor: default;
    background-color: #7a3145;
  }

  .menu-close-btn {
    position: absolute;
    top: 20px;
    right: 20px;

    padding: 0;
    display: block;

    font-family: inherit;
    background-color: transparent;
    border: none;
    cursor: pointer;
  }

  .menu-close-icon {
    width: 32px;
    height: 32px;

    stroke: #ffffff;
  }

  .menu-nav {
    margin-bottom: 50px;
  }

  .menu-nav-list {
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
  }

  .menu-nav-item {
    display: block;

    text-align: center;
    font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #fbfbfb;

    border-radius: 12px;
    border: 1px solid rgba(251, 251, 251, 0.4);
    background-color: transparent;
    cursor: pointer;
  }

  .menu-nav-link {
    display: block;
  }

  .menu-nav-link-one {
    padding: 12px 16px;
  }

  .menu-nav-link-two {
    padding: 12px 24px;
  }

  .menu-nav-link-free {
    padding: 12px 32px;
  }

  .menu-nav-item:hover,
  .menu-nav-item:focus {
    color: #7a3145;

    background-color: #fbfbfb;
  }

  .menu-nav-item:active {
    color: rgba(122, 49, 69, 0.7);
  }

  .menu-bottom-btn {
    display: block;
    margin: 0 auto;
    padding: 16px 0;
    width: 155px;
    height: 50px;

    text-align: center;
    font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    line-height: 1.285;
    letter-spacing: -0.015em;
    text-transform: uppercase;
    color: #fbfbfb;

    cursor: pointer;
    border: 1px solid rgba(251, 251, 251, 0.4);
    border-radius: 30px;
    background-color: transparent;
  }

  .menu-bottom-btn:hover,
  .menu-bottom-btn:focus {
    color: #7a3145;
    background-color: #fbfbfb;
  }

  .menu-bottom-btn:active {
    color: rgba(122, 49, 69, 0.7);
  }
}
/** menu-end */
