@media screen and (min-width: 768px) {
  /** header-section-start */

  .header-container {
    width: 768px;
    padding: 32px 32px 50px 32px;
  }

  .header-logo {
    width: 194px;
    height: 18px;
  }

  .header-menu-btn {
    width: 40px;
    height: 40px;
  }

  .header-menu {
    width: 40px;
    height: 40px;
  }

  /** header-section-end */
  /** hero-section-start */

  .hero-container {
    width: 768px;
    min-height: 1024px;

    padding: 122px 32px 0 32px;

    background-image: url(../img/hero-bg-tab.jpg);
  }

  .hero-title {
    margin-bottom: 25px;

    font-size: 76px;
    font-weight: 600;
    letter-spacing: -0.015em;
  }

  .hero-txt {
    font-size: 16px;
    line-height: 1.25;
  }

  /** hero-section-end */
  /** menu-start */

  .menu-backdrop {
    background: rgba(20, 20, 20, 0.4);
  }

  .menu-container {
    max-width: 351px;

    right: 0;
    transform: translate(32px) scale(1);

    padding: 32px 32px 50px 32px;
  }

  .menu-close-btn {
    top: 32px;
    right: 32px;
  }

  .menu-close-icon {
    width: 40px;
    height: 40px;
  }

  .menu-nav-link-one {
    padding: 12px;
  }

  .menu-nav-link-two {
    padding: 12px 21px;
  }

  .menu-nav-link-free {
    padding: 12px 28px;
  }

  .menu-bottom-btn {
    width: 157px;
    height: 52px;
  }

  /** menu-end */
}
